<html>
    <head>

        <title>{{ title }}</title>

    </head>
    <body>
        <main>
            {# when extended with content block defined this is overwritten #}
            {% block content %}{% endblock %}
        </main>
    </body>
    <footer></footer>
</html>